USE [master]
GO
/****** Object:  Database [QLKS]    Script Date: 12/27/2023 10:38:28 PM ******/
CREATE DATABASE [QLKS]
GO

USE [QLKS]
GO
/****** Object:  Table [dbo].[DK_PHONG]    Script Date: 12/27/2023 10:38:28 PM ******/
CREATE TABLE [dbo].[DK_PHONG](
	[MADK_PH] [nchar](10) NOT NULL,
	[SLQT] [int] NOT NULL,
	[SLND] [int] NOT NULL,
	[SL] [int] NOT NULL,
 CONSTRAINT [PK_DK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MADK_PH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DK_PHUTHU]    Script Date: 12/27/2023 10:38:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DK_PHUTHU](
	[MADK_PT] [nchar](10) NOT NULL,
	[PHUTHU] [float] NOT NULL,
	[HESO] [float] NOT NULL,
 CONSTRAINT [PK_DK_PHUTHU] PRIMARY KEY CLUSTERED 
(
	[MADK_PT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HETHONG]    Script Date: 12/27/2023 10:38:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HETHONG](
	[USERNAME] [nchar](10) NOT NULL,
	[PASSWORD] [ntext] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[QUYEN] [ntext] NOT NULL,
 CONSTRAINT [PK_HETHONG] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/27/2023 10:38:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nchar](10) NOT NULL,
	[MAPT] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[THANHTIEN] [int] NOT NULL,
	[NGKT] [date] NOT NULL,
	[SONGAY] [int] NOT NULL,
	[MAKH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/27/2023 10:38:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[TENKH] [ntext] NOT NULL,
	[CMND] [ntext] NOT NULL,
	[DIACHI] [ntext] NOT NULL,
	[LOAIKH] [nchar](10) NOT NULL,
	[MANHOM] [nchar](10) NOT NULL,
 CONSTRAINT [PK_KHACHHANG_1] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 12/27/2023 10:38:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAI] [nchar](10) NOT NULL,
	[TENLOAI] [ntext] NOT NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/27/2023 10:38:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [ntext] NOT NULL,
	[CHUCVU] [ntext] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOM]    Script Date: 12/27/2023 10:38:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOM](
	[MANHOM] [nchar](10) NOT NULL,
	[SL] [int] NOT NULL,
	[SLQT] [int] NOT NULL,
	[SLND] [int] NOT NULL,
 CONSTRAINT [PK_NHOM] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUEPHONG]    Script Date: 12/27/2023 10:38:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUEPHONG](
	[MAPT] [nchar](10) NOT NULL,
	[MANHOM] [nchar](10) NOT NULL,
	[MAPHONG] [nchar](10) NOT NULL,
	[NGBD] [date] NOT NULL,
	[MADK_PT] [nchar](10) NOT NULL,
	[TYLE] [float] NOT NULL,
 CONSTRAINT [PK_PHIEUTHUEPHONG] PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 12/27/2023 10:38:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [nchar](10) NOT NULL,
	[MALOAI] [nchar](10) NOT NULL,
	[MADK] [nchar](10) NOT NULL,
	[TINHTRANG] [ntext] NOT NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DK_PHONG] ([MADK_PH], [SLQT], [SLND], [SL]) VALUES (N'DK01      ', 3, 3, 3)
GO
INSERT [dbo].[DK_PHUTHU] ([MADK_PT], [PHUTHU], [HESO]) VALUES (N'DK01      ', 0.25, 0.5)
GO
INSERT [dbo].[HETHONG] ([USERNAME], [PASSWORD], [MANV], [QUYEN]) VALUES (N'admin     ', N'123', N'NV01      ', N'QL')
INSERT [dbo].[HETHONG] ([USERNAME], [PASSWORD], [MANV], [QUYEN]) VALUES (N'nv01      ', N'123', N'NV02      ', N'NV')
INSERT [dbo].[HETHONG] ([USERNAME], [PASSWORD], [MANV], [QUYEN]) VALUES (N'nv02      ', N'123', N'NV03      ', N'NV')
GO
INSERT [dbo].[HOADON] ([MAHD], [MAPT], [MANV], [THANHTIEN], [NGKT], [SONGAY], [MAKH]) VALUES (N'HD01      ', N'PT01      ', N'NV01      ', 281250, CAST(N'2020-01-02' AS Date), 1, N'KH01      ')
INSERT [dbo].[HOADON] ([MAHD], [MAPT], [MANV], [THANHTIEN], [NGKT], [SONGAY], [MAKH]) VALUES (N'HD02      ', N'PT02      ', N'NV02      ', 600000, CAST(N'2020-01-05' AS Date), 2, N'KH02      ')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [DIACHI], [LOAIKH], [MANHOM]) VALUES (N'KH01      ', N'Nguyễn Văn A', N'123456789', N'Điện Biên', N'ND        ', N'NH01      ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [DIACHI], [LOAIKH], [MANHOM]) VALUES (N'KH02      ', N'Nguyễn Văn B', N'123456789', N'Điện Biên', N'ND        ', N'NH01      ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [DIACHI], [LOAIKH], [MANHOM]) VALUES (N'KH03      ', N'Nguyễn Văn C', N'123456789', N'Điện Biên', N'ND        ', N'NH02      ')
GO
INSERT [dbo].[LOAIPHONG] ([MALOAI], [TENLOAI], [DONGIA]) VALUES (N'LP01      ', N'Phòng đơn', 150000)
INSERT [dbo].[LOAIPHONG] ([MALOAI], [TENLOAI], [DONGIA]) VALUES (N'LP02      ', N'Phòng đôi', 170000)
INSERT [dbo].[LOAIPHONG] ([MALOAI], [TENLOAI], [DONGIA]) VALUES (N'LP03      ', N'Phòng VIP', 200000)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU]) VALUES (N'NV01      ', N'Nguyễn Văn A', N'Quản lí')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU]) VALUES (N'NV02      ', N'Nguyễn Văn B', N'Nhân viên')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [CHUCVU]) VALUES (N'NV03      ', N'Nguyễn Văn C', N'Nhân viên')
GO
INSERT [dbo].[NHOM] ([MANHOM], [SL], [SLQT], [SLND]) VALUES (N'NH00      ', 0, 0, 0)
INSERT [dbo].[NHOM] ([MANHOM], [SL], [SLQT], [SLND]) VALUES (N'NH01      ', 3, 1, 2)
INSERT [dbo].[NHOM] ([MANHOM], [SL], [SLQT], [SLND]) VALUES (N'NH02      ', 2, 1, 1)
GO
INSERT [dbo].[PHIEUTHUEPHONG] ([MAPT], [MANHOM], [MAPHONG], [NGBD], [MADK_PT], [TYLE]) VALUES (N'PT01      ', N'NH01      ', N'PH01      ', CAST(N'2020-01-01' AS Date), N'DK01      ', 1.875)
INSERT [dbo].[PHIEUTHUEPHONG] ([MAPT], [MANHOM], [MAPHONG], [NGBD], [MADK_PT], [TYLE]) VALUES (N'PT02      ', N'NH02      ', N'PH05      ', CAST(N'2020-01-03' AS Date), N'DK01      ', 1.5)
GO
INSERT [dbo].[PHONG] ([MAPHONG], [MALOAI], [MADK], [TINHTRANG], [GHICHU]) VALUES (N'PH01      ', N'LP01      ', N'DK01      ', N'Đã đặt', NULL)
INSERT [dbo].[PHONG] ([MAPHONG], [MALOAI], [MADK], [TINHTRANG], [GHICHU]) VALUES (N'PH02      ', N'LP02      ', N'DK01      ', N'Trống', NULL)
INSERT [dbo].[PHONG] ([MAPHONG], [MALOAI], [MADK], [TINHTRANG], [GHICHU]) VALUES (N'PH03      ', N'LP03      ', N'DK01      ', N'Trống', NULL)
GO
ALTER TABLE [dbo].[HETHONG]  WITH CHECK ADD  CONSTRAINT [FK_HETHONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HETHONG] CHECK CONSTRAINT [FK_HETHONG_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG1] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG1]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHIEUTHUEPHONG] FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHIEUTHUEPHONG] ([MAPT])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHIEUTHUEPHONG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_NHOM] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOM] ([MANHOM])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_NHOM]
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUEPHONG_DK_PHUTHU] FOREIGN KEY([MADK_PT])
REFERENCES [dbo].[DK_PHUTHU] ([MADK_PT])
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG] CHECK CONSTRAINT [FK_PHIEUTHUEPHONG_DK_PHUTHU]
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUEPHONG_NHOM] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOM] ([MANHOM])
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG] CHECK CONSTRAINT [FK_PHIEUTHUEPHONG_NHOM]
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUEPHONG_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[PHIEUTHUEPHONG] CHECK CONSTRAINT [FK_PHIEUTHUEPHONG_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_DK_PHONG] FOREIGN KEY([MADK])
REFERENCES [dbo].[DK_PHONG] ([MADK_PH])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_DK_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIPHONG] ([MALOAI])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO